
@font-face {
  font-family: 'Californian FB';
  src: url("../fonts/CalifornianFB.ttf");
}

html {
  /*FAMILIES*/
  --font-1: 'Source Serif Pro', serif;
  --font-2: "Californian FB", serif;
  /*FONTS*/
  --text-note: clamp(0.9rem, 1.2vw, 1.3rem);
  --text-base: clamp(1rem, 2.1vw, 1.4rem);
  --text-subheader: clamp(1.6rem, 2.6vw, 1.8rem);
  --text-title: clamp(1.2rem, 2.9vw, 2.6rem);
  --text-headline: clamp(1.8rem, 5vw, 3rem);
  --text-display: clamp(2rem, 8vw, 3.1rem);
  --text-logo: clamp(3rem, 4vw, 3.5rem);
}
